</div>
<h1>Flowers catalog</h1>
<div class="jumbotron">
  <table class="table">
    <thead class="thead-light">
      <tr>
        <th scope="col">Image</th>
        <th scope="col">Name</th>
        <th scope="col">Color</th>
        <th scope="col">Price</th>
      </tr>
    </thead>
    <tbody>
      <%  flowers.forEach(function(flower){ %>
      <tr>
        <td>
          <img class="card-img-top" style="width: 150px" src=<%=flower.image%> alt=
          <%=flower.image%>></img></td>
        <td>
          <h6 class="card-title">
            <%=flower.name%>
          </h6>
        </td>
        <td>
          <%=flower.color%>
        </td>
        <td>
          <%=flower.price+"$"%>
        </td>
      </tr>
      <%})%>
    </tbody>
  </table>
</div>